html {
  background: url(/Images/bg.jpg) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

body {
  font-family: Arial, Helvetica, sans-serif;
}

.topnav {
  background-color: #00A1F1;
  overflow: hidden;
  z-index: 3;
  top: 0;
  left: 0;
  width: 100%;
  height: auto;
  text-shadow: 5px 3px 5px grey;
}

.flexContainer {
  display: flex;
  display: -webkit-flex;
  display: -ms-flexbox;
  flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  margin: auto;
  width: 1366px;
}

.flexContainer>div {
  background: lightgray;
  margin: 30px 0 0 30px;
  height: 370px;
  border-radius: 10px;
  flex: 0 0 22%;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.flexContainer>div>img {
  width: 100%;
  height: 75%;
  border-radius: 10px;
}

.modalItemImg > img{
  width: auto;
  height: 400px;
}

.fileInput {
  border-bottom: 4px solid lightgray;
  border-right: 4px solid lightgray;
  border-top: 1px solid black;
  border-left: 1px solid black;
  padding: 10px;
  margin-top: 15px;
  cursor: pointer;
}

.imgPreview {
  text-align: center;
  margin: 5px 15px;
  height: 200px;
  width: 250px;
  border-radius: 10px;
  border-left: 1px solid gray;
  border-right: 1px solid gray;
  border-top: 1px solid gray;
  border-bottom: 1px solid gray;
}

.imgPreview img {
  width: 100%;
  height: 100%;
  border-radius: 10px;
}

.previewTex {
  width: 100%;
  margin-top: 20px;
}

.submitButton {
  padding: 12px;
  margin-left: 10px;
  background: white;
  border: 4px solid lightgray;
  border-radius: 15px;
  font-weight: 700;
  font-size: 10pt;
  cursor: pointer;
}

.centerText {
  text-align: center;
  width: 500px;
}

/* Position and sizing of burger button */

.bm-burger-button {
  position: absolute;
  width: 34px;
  height: 34px;
  left: 10px;
  top: 5px;
}

/* Color/shape of burger icon bars */

.bm-burger-bars {
  background: white;
}

/* Position and sizing of clickable cross button */

.bm-cross-button {
  height: 120px;
  width: 120px;
  margin-right: 5px;
}

/* Color/shape of close button cross */

.bm-cross {
  background: white;
}

/* General sidebar styles */

.bm-menu {
  background: #00A1F1;
  padding: 2.5em 1.5em 0;
  font-size: 1.15em;
  overflow-y: hidden !important;
}

/* Morph shape necessary with bubble or elastic */

.bm-morph-shape {
  fill: #373a47;
}

/* Wrapper for item list */

.bm-item-list {
  color: #b8b7ad;
  padding: 0.8em;
}

/* Styling of overlay */

.bm-overlay {
  background: rgba(0, 0, 0, 0.3);
}

.itemPointer:hover{
  cursor:pointer;
  box-shadow: 2px -1px 7px white;
}

.inputStyle input, select {
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  border: 1px solid #C2C2C2;
  box-shadow: 1px 1px 1px #EBEBEB;
  -moz-box-shadow: 1px 1px 1px #EBEBEB;
  -webkit-box-shadow: 1px 1px 1px #EBEBEB;
  border-radius: 3px;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  padding: 7px;
  outline: none;
}

#notFoundImage{
	display:block;
	margin-Left:auto;
	margin-Right:auto;
}

@media only screen and (max-width: 425px) {
    #notFoundImage{
	width:50%;}
}

@media only screen and (min-width: 425px) {
  .flexContainer {
    width: 400px
  }
  .flexContainer div {
    flex: 0 0 100%;
    flex-direction: column;
  }
  .modalItemImg img {
    width: auto;
    height: 250px;
  }
    #notFoundImage{
	width:50%;}
}

@media only screen and (min-width: 1024px) {
  .flexContainer {
    width: 900px;
  }
  .flexContainer div {
    flex: 0 0 29%;
  }
  .modalItemImg img {
    width: auto;
    height: 250px;
  }
  #notFoundImage{
  width:30%;}

}

@media only screen and (min-width: 1366px) {
  .flexContainer {
    width: 1000px
  }
  .flexContainer div {
    flex: 0 0 29%
  }
  .modalItemImg img {
    width: auto;
    height: 250px;
  }
  #notFoundImage{
  width:25%;}
}

@media only screen and (min-width: 1920px) {
  .flexContainer {
    width: 1250px
  }
  .flexContainer div {
    flex: 0 0 22%
  }
  .modalItemImg img {
    width: auto;
    height: 400px;
  }

  #notFoundImage{
	  width:20%;
  }
}
